* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: black;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    background: #111;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: #ff0033;
    text-decoration: none;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, black, #1a0005);
    text-align: center;
}

.btn {
    margin-top: 20px;
    padding: 10px 25px;
    background: #ff0033;
    color: white;
    border: none;
    cursor: pointer;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px;
    flex-wrap: wrap;
}

.product {
    background: #111;
    padding: 30px;
    border: 1px solid #ff0033;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .service-grid,
    .portfolio-grid,
    .product-grid {
        flex-direction: column;
        align-items: center;
    }
}
